@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background-color: rgb(100,100,100);
    display: grid;
    align-items: center;
    justify-items: center;
}

.main {
    display: grid;
    gap: 15px;
}

.info_id {
    width: 350px;
    height: 125px;
    display: grid;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5);
}

.info_client {
    width: 350px;
    height: 305px;
    display: grid;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5);
}



.form_div {
    width: 350px;
    height: 90px;
    display: grid;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5);  
}

.other_div {
    visibility: hidden;
    margin-top: 20px;
    width: 350px;
    height: 220px;
    display: grid;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5); 
}

select {
border: 1px solid #e0e0e0;
border-radius: 3px;
padding: 0 5px;
line-height: 36px;
height: 36px;
box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
background: #fff;
width: 310px; 
}

.button {
    width: px;
    display: grid;
    margin-top: 10px;
}

