<html lang="ru">
  <head>
    
    <meta charset="utf-8" />
    <meta name="description" content="Изучение основ HTML5 для новичков" />
    <title>CRM INTRUM</title>
    {% block styles %}
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
    {% endblock %}
  </head>
  <body>
    <div class="main">
        <div class="info_id">
            <div>Имя:<h4>{{user_username}}</h4></div>
            <hr width="100%" color="black" size="3px"/>
            <div>ID контакта:<h4>{{user_id}}</h4></div>
        </div>

        <div class="info_client">
            <div>ID Сделки:<h4>{{sale_id}}</h4></div>
            <hr width="100%" color="black" size="3px"/>
            <div>Телефон:<h4>+{{user_phone}}</h4></div>
            <div> <a href="https://api.whatsapp.com/send?phone={{user_phone}}" target="_blank">
              <button style="background-color: #009d0d;color: white;">Перейти в whatsapp</button></a>
            </div>
            <hr width="100%" color="black" size="3px"/>
            <div>E-mail:<h4>{{user_mail}}</h4></div>
            <hr width="100%" color="black" size="3px"/>
            <div>Последний комментарий:<h4>{{client_text}}</h4></div>
            <hr width="100%" color="black" size="3px"/>
            <div>Стадия сделки:<h4>{{user_status}}</h4></div>
        </div>

        <div class="form_div">
          <form>
            <div>Внести изменения:</div>
            <p><select name="select" size="1" id="statusSelect">
             <option selected value="s1">{{lead_status}}</option>
             <option value="55">Новый</option>
             <option value="54">Неотвеченный</option>
             <option value="56">Уточненный</option>
             <option value="57">Отложенный спрос</option>
             <option value="58">Приглашение</option>
             <option value="59">Встреча</option>
             <option value="65">Без договора</option>
             <option value="60">Договор</option>
             <option value="61">Задаток</option>
             <option value="62">Закрытие сделки</option>
             <option value="63">Отказ</option>
             <option value="73">АВТООБЗВОН</option>
             <option value="72">Дубль/брак</option>
            </select>
           </form>
            </div>
        </div>
        <form class="other_div" id="dataForm">
          <label for="date">Укажите дату и время</label>
          <input type="datetime-local" id="date" name="date"/>
          <span class="validity"></span>
    
          <hr width="100%" color="black" size="3px"/>
    
          <label for="comment">Комментарии и замечания</label>
          <input type="text" id="comment" name="comment" maxlength="100" size='10'/>
    
          <div class="button" onclick="submitForm()">
              <button>Отправить</button>
          </div>
      </form>
      <div id="result"></div>
    
    </div>
    <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
  </body>
</html>
